<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Create User</h1>
        <form method="post" th:action="@{/user/create}">
            <label>Name: </label>
            <input name="name"/>
            <label>Home Adress: </label>
            <input name="homeadress"/>
            <label>Age: </label>
            <input name="age"/>
            <button type="summit">Create</button>
        </form>
    </body>
</html>
