<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Edit User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Edit User</h1>
        <form method="post" th:action="@{/user/edit}" th:object="${user}">
            <div>
                <label>ID:</label>
                <input th:field="*{id}" readonly/>
            </div>
            <div>
                <label>Name:</label>
                <input th:field="*{name}"/>
            </div>
            <div>
                <label>Home Address:</label>
                <input th:field="*{homeadress}"/>
            </div>
            <div>
                <label>Age:</label>
                <input th:field="*{age}"/>
            </div>
            
            <button type="summit">Save</button>
        </form>
    </body>
</html>
